# American School Way credentials to indicate which account to use for sending requests to
# the APIs. Is mandatory to set these values in order to use the application.
ASW_EMAIL=
ASW_PASSWORD=

# Supabase environment variables
SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
SUPABASE_KEY=sb_publishable_xxx
SUPABASE_ACCESS_TOKEN=sbp_xxx
