# American School Way credentials to indicate which account to use for sending requests to
# the APIs. Is mandatory to set these values in order to use the application.
ASW_EMAIL=example@example.com
ASW_PASSWORD=examplepassword

# Connection strings for connecting Prisma to Supabase. 
# You can find these values in the Supabase dashboard under Settings > Database > Connection Pooling.
#
# Is important to have this values for saving the data of your clases, preferences, and other information in a database.
DATABASE_URL="postgresql://connection_strings"
DIRECT_URL="postgresql://connection_strings"
